html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/*************** Header ***************/

div#header {
  height: 220px;
  border-bottom: 2px solid #00CC00; 
  background-image: url(images/house.png);
  background-position:right top;
  background-repeat:no-repeat;
}

div#header img {
  float: left;
  height: 200px;
  width: 145px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px solid #00CC00;
  background: #FFFFFF;
}

div#nav {
  height: 225px;
	display: table; 
	overflow: hidden;
}

div#nav a {
  margin-left: 5px;
	display: block;
	text-decoration: none;
	color: #000000;
	font-family: "Trebuchet MS", sans-serif;
	font-style: bold;
	font-size: 20px;
	}
	
div#nav a:hover {
	color: #707070;
	}

body#home a.homenav {
	color: #3333FF;
	}
	
/*************** Wrapper ***************/
div#wrapper {
  height: 100%;
  width: 100%;
}


/*************** Left Bar ***************/

div#left_bar {
  float: left;
  height: 100%;
  width: 165px;
  background: #0000FF;
}

/*************** Content ***************/

div#content {
  height: 100%;
  margin-left: 165px;
  padding-top: 10px;
  padding-bottom: -5px;
  padding-left: 10px;
  border-left: 2px solid #00CC00;
}


